/**
 * @file
 * Form Styling
 */


.form-item,
.form-checkboxes,
.form-radios /* Wrapper for a form element (or group of form elements) and its label */ {
  margin: 1em 0;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error /* Highlight the form elements that caused a form submission error */ {
  border: 2px solid #c00;
}

.cdhj-submit-form #field-image-items > table th,
.form-item label /* The label for a form element */ {
  display: block;
  font-weight: normal;
  font-family: "Bernard MT Condensed","Impact",serif;
  font-size: 1.4em;
  line-height: 1.6em;
}

.form-item label.option /* The label for a radio button or checkbox */ {
  display: inline;
  font-weight: normal;
}

.form-required /* The part of the label that indicates a required field */ {
  color: #c00;
}

.form-item .description /* The descriptive help text (separate from the label) */ {
  font-size: 0.85em;
}

.form-checkboxes .form-item,
.form-radios .form-item /* Pack groups of checkboxes and radio buttons closer together */ {
  margin: 0.4em 0;
}

.form-submit /* The submit button */ {
}

.container-inline div,
.container-inline label /* Inline labels and form divs */ {
  display: inline;
}

.tips /* Tips for Drupal's input formats */ {
}


/*
 * Search (search-theme-form.tpl.php)
 */
#search-box /* Wrapper for the search form */ {
}

#edit-search-theme-form-1-wrapper label /* Label that says "Search this site:" */ {
  display: none;
}


/*
 * Search (search-block-form.tpl.php)
 */
 
#block-search-0 h2 {
    display: none;
}

#search-block-form /* Wrapper for the search form */ {
}

#search-block-form {

}

#search-block-form input[type="text"] {
    width: 65%;
}

#search-block-form input[type="submit"] {
    margin-left: 3%;
    width: 25%;
}

#edit-search-block-form-1-wrapper label /* Label that says "Search this site:" */ {
  display: none;
}


#search-block-form input[type="submit"] {
    border: 0.12em solid #9A1E4C;
    background: #EEBCCE;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEBCCE), to(#9A1E4C));
    background: -moz-linear-gradient(center top , #EEBCCE, #9A1E4C) repeat scroll 0 0 #EEBCCE;
    border-radius: 0.5em;
    font-weight: bold;
    font-size: 1em;
    margin-left: 0.5em;
    margin-top: 0em;
    color: #ffffff;
    padding: 0.25em 0.5em;
    text-shadow: 0 1px 0 #000000;
}


/*
 * Drupal's default login form block
 */
#user-login-form {
  text-align: left; /* LTR */
}


/*
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */

#user-login-form ul /* OpenID creates a new ul above the login form's links. */ {
  margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
}

#user-login-form li.openid-link /* The "Log in using OpenID" link. */ {
  margin-top: 1em;
  margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */
}

#user-login-form li.user-link /* The "Cancel OpenID login" link. */ {
  margin-top: 1em;
}

#user-login ul {
  margin: 1em 0;
}

#user-login li.openid-link,
#user-login li.user-link /* The OpenID links on the /user form. */ {
  margin-left: -2em; /* LTR */ /* Un-do all of the padding on the ul list. */
}


/*
 * Drupal admin tables
 *
 * We overrode these styles in html-elements.css, but restore them for the admin
 * section of the site.
 */

form tbody {
  border-top: 1px solid #ccc;
}

form th,
form thead th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: 3px solid #ccc;
}

form tbody th {
  border-bottom: 1px solid #ccc;
}

/** Custom style rules for the special story submit page **/

.cdhj-submit-form .teaser-button-wrapper, 
.cdhj-submit-form .body-field-wrapper > p, 
.cdhj-submit-form .body-field-wrapper .tips {
    display: none;
}

.cdhj-submit-form #field-image-items label {
    font-size: 1em;
    display: inline;
    font-family: auto;
}

.cdhj-submit-form #field_image_values {
    width: 96%;
}