/**
 * @file
 * Navigation Styling
 *
 * Default menu styling (ul.menu) is defined in system-menus.css.
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#navigation {
	background-image: url('/sites/vojo.co/themes/cdh_juarez/images/cdh/square-peach-80.png');
}

.region-navigation {
}

/*
 * Primary and Secondary menu links
 */
#main-menu {
}

#secondary-menu {
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks. See http://drupal.org/project/menu_block
 */
.block-menu_block {
}

/** The Juarez nav menu **/

#block-menu-menu-cdhjuarez ul {
    height: 2.75em;
    margin: 0em;
    margin-top: 0.5em;
    padding-left: 0em;
}

#block-menu-menu-cdhjuarez ul li {
    display: inline-block;
    float: left;
    margin-right: 0.5em;
    width: 190px;    
    margin-bottom: 0.5em;
}

#block-menu-menu-cdhjuarez ul li a {
    border: #333333 0.138em solid;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    background-image: url('/sites/vojo.co/themes/cdh_juarez/images/cdh/square-white-80.png');
    text-align: right;
    padding: 0.3em 0.3em 0.3em 0em; 
    text-decoration: none;
    font-size: 1.25em;
	color: #333333;
	display: block;
	font-family: "Bernard MT Condensed", "Impact", serif;
}

#block-menu-menu-cdhjuarez ul li a:hover {
	background-color: #ffffff;
	color: #111111;
}
