/**
 * @file
 * Page Background Styling
 *
 * The default layout method of Zen doesn't give themers equal-height columns.
 * However, equal-height columns are difficult to achieve and totally
 * unnecessary. Instead, use the Faux Columns method described in the following
 * ALA article:
 *   http://www.alistapart.com/articles/fauxcolumns/
 */


body {
    background-image: url('/sites/all/themes/cdh_juarez/images/cdh/background-stripes.jpg');
    font-family: "Times", serif;
    color: #333333;    
}

#page-wrapper {
}

#page {
}

#header {
    padding-top: 1em;
    padding-bottom: 1em;
	background-image: url('/sites/all/themes/cdh_juarez/images/cdh/square-peach-80.png');
}

#header .section {
}

#main-wrapper {
    background-image: url('/sites/all/themes/cdh_juarez/images/cdh/square-white-80.png');	
}

#main {
    padding-top: 0em;
    padding-bottom: 2em;
}

#footer {
	background-image: url('/sites/all/themes/cdh_juarez/images/cdh/square-peach-80.png');
    padding-top: 2em;
    padding-bottom: 10em;
}

#footer .section {
}

#footer .region-footer-right {
    text-align: right;
}

#cdhj-content-bottom {
    background-image: url('/sites/all/themes/cdh_juarez/images/cdh/square-black-80.png');
    padding: 2em 0em;
}