/**
 * @file
 * Panels Styling
 */

/** related to the Juarez group homepage **/

#cdhj-home-recent {

}

h2.pane-title {
  font-family: "Bernard MT Condensed", "Impact", serif;
  color: #333333;
  font-weight: normal;
  padding-top: 0.5em;
  padding-left: 0.5em;
}

.cdhj-sidebar-panel {
    -webkit-border-radius:8px;
    -moz-border-radius:8px; 
    border-radius:8px;
	margin-top: 1em;	
    background-image: url('/sites/all/themes/cdh_juarez/images/cdh/square-black-10.png');
    /* border: 1px solid #9a1e4c; */
}
.cdhj-sidebar-panel ul {
}
.cdhj-sidebar-panel ul li {
    margin-bottom: 0.25em;
}
.cdhj-sidebar-panel ul li a {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.4em;
}

/** related to the Juarez view blog entry page **/

.cdhj-story-author {
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 1em;
}

.cdhj-story-body {
    font-size: 1.3em;
    line-height: 1.3em;
    margin-bottom: 1em;
}

.cdhj-story-created-date {
    margin-bottom: 1em;
}

.cdhj-story-created-tags {
    margin-bottom: 1em;
}

#cdhj-content-bottom h2 {
    color: #ffffff;
    padding-left: 0em;
}

#cdhj-content-bottom ul {
    margin: 0em;
    padding: 0em;
}

#cdhj-content-bottom ul li {
    margin-bottom: 0.5em;
}

#cdhj-content-bottom ul a {
    color: #ffffff;
    font-size: 1.2em;
    line-height: 1.4em;
}

#cdhj-content-bottom more-link {
    display: none;
}